*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex ;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#root{
    height: 95%;
    width: 95%;
    background-color: #669BBC;
    border: none;
    border-radius: 20px;
}
